


/* Start Burgizza Menu*/
.burgizza_menu {
  margin-bottom: 50px;
}
.burgizza_menu > h2 {
  font-size: 30px;
  font-family: "Reggae One", cursive;
  color: rgb(21, 138, 21);
  text-shadow: 0 0 2px red;
}
.burgizza_menu .menu_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.burgizza_menu .menu_items .item {
  box-shadow: 0 0 3px 0 green;
  border-radius: 5px;
  width: 340px;
  height: 410px;
  text-align: center;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.burgizza_menu .menu_items .item .image_container {
  width: 210px;
  height: 210px;
  margin: auto;
}
.burgizza_menu .menu_items .item .image_container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 50%;
}
.burgizza_menu .menu_items .item h2 {
  color: rgb(21, 138, 21);
  text-shadow: 0 0 2px red;
  font-family: "Goblin One", cursive;
  font-size: 17px;
}
.burgizza_menu .menu_items .item p {
  color: rgb(23, 141, 23);
}
.burgizza_menu .menu_items .item .stars {
  color: rgba(0, 128, 0, 0.877);
}
.burgizza_menu .menu_items .item span {
  background-color: rgba(0, 128, 0, 0.918);
  color: white;
  font-family: "Reggae One", cursive;
  padding: 5px 30px;
  transform: rotatez(311deg);
  position: absolute;
  top: 19px;
  left: -32px;
  border-radius: 5px;
}
.burgizza_menu .menu_items .item button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(154, 74, 8);
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 10px 0px;
  transition: 0.4s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.burgizza_menu .more {
  font-size: 18px;
  font-family: "Reggae One", cursive;
  color: rgba(0, 128, 0, 0.877);
  background-color: rgb(63, 222, 93);
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px 0;
  width: 125px;
  text-align: center;
}
.burgizza_menu .more svg {
  margin-bottom: -3px;
}
/* End Burgizza Menu*/
/* Start Can You Trust Us*/
.features {
  width: 100%;
  padding: 20px 0px 35px;
}

.features .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin: 25px 0;
}

.features .cards .features_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  transition: 0.3s;
  margin: 10px auto;
  padding: 0 0 20px 0;
}

.features .cards .features_card .features_img {
  width: 220px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.features .cards .features_card .features_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features .cards .features_card .features_card_content .page_header {
  color: #e4032f;
  font-size: 11px;
}


.features .cards .features_card .features_card_content p {
  font-size: 18px;
  color: #4a4a4a;
  text-align: center;
  margin: 0 25px 10px;
}
@media (min-width: 576.99px) and (max-width: 991.99px) {
  .features .cards .features_card {
    width: 350px;
  }
}
@media (max-width: 576.99px) {
  .features .cards .features_card {
    width: 280px;
  }
}
/* End Can You Trust Us*/
