.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 80px;
  z-index: 999;
}

.main_header_bar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header_bar .logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
}

.main_header_bar .social_media {
  color: #fff;
  font-size: 20px;
  display: flex;
  gap: 25px;
}

.main_header_bar .login {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 25px;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
}

.main_header_bar .login:hover {
  background-color: #fff;
  color: black;
}

.cart_icon {
  position: relative;
}

.cart_icon button {
  color: #ffffffcc;
  font-size: 25px;
  transition: 0.2s;
}

.cart_icon button:hover {
  color: #fff;
}

.cart_icon span {
  position: absolute;
  top: 8px;
    left: 15px;
  font-size: 14px;
  background: #e4032f;
  padding: 2px 7px;
  color: #fff;
  font-weight: 500;
  border-radius: 50%;
}

.collapse_menu ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.collapse_menu ul li {
  cursor: pointer;
  font-family: "Roboto", serif;
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffffcc;
  transition: 0.4s;
}

.collapse_menu ul li:hover {
  color: #ffffff;
}

.toggle_icon {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 30px;
  color: #fff;
}

@media only screen and (max-width: 991.99px) {
  .navbar {
    justify-content: center;
  }

  .main_header_bar {
    padding: 20px 35px;
  }

  .collapse_menu {
    transform: translateY(-150%);
    background-color: #fff;
    transition: 0.5s;
  }

  .collapse_menu.open {
    transform: translateY(0);
  }

  .collapse_menu ul {
    display: block;
  }

  .collapse_menu ul li {
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    padding: 15px 0;
  }

  .collapse_menu ul li:hover {
    color: #e4032f;
  }

  .collapse_menu ul li a {
    display: block;
    padding: 5px 0;
  }

  .cart_icon {
    padding: 0;
  }

  .cart_icon button {
    color: #000;
    font-size: 20px;
  }

  .cart_icon button:hover {
    color: #e4032f;
  }

  .cart_icon span {
    cursor: pointer;
    top: 8px;
    left: -8px;
    font-size: 12px;
    padding: 3px 7px;
  }

  .toggle_icon {
    display: block;
  }
}
