/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4032f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa0224;
}

/*Global Rules*/
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid rgba(0, 128, 0, 0.8);
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
label,
input {
  font-family: "Oswald", sans-serif;
}

p,
button,
span,
a {
  font-family: "Roboto", serif;
}

ul {
  list-style-type: none;
}

.container {
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); 
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Start Not Found Page */
.not_found {
  text-align: center;
  color: green;
  transform: translateY(-50px);
}
.not_found svg {
  font-size: 90px;
}
.not_found .home_btn {
  border: none;
  outline: none;
  border: 1px solid rgba(0, 128, 0, 0.726);
  border-radius: 5px;
  font-size: 20px;

  background-color: white;
  color: green;
  padding: 2px 20px;
  margin: 10px 0px;
  transition: 0.4s;
}
.not_found .home_btn:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 128, 0, 0.8);
  border: 1px solid rgba(0, 128, 0, 0.726);
}
/* End Not Found Page */
/* Start Scroll Up */
.scroll-up {
  position: fixed;
  right: 30px;
  bottom: 70px;
  cursor: pointer;
  z-index: 10;
}
.scroll-up svg {
  color: green;
  font-size: 45px;
}
/* End Scroll Up */

/* Start Reservations*/
.reservations {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservations .header h2 {
  font-size: 30px;
  color: rgb(21, 138, 21);
  text-shadow: 0 0 2px red;
  margin-bottom: 0;
}
.reservations .header p {
  font-size: 20px;
  color: green;
  text-align: center;
  margin: 0 25px;
}
.reservations .header p::before {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: rgb(249, 197, 106);
  margin: 5px auto;
}
.reservations .header p::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: rgb(249, 197, 106);
  margin: 5px auto;
}
.reservations .body {
  box-shadow: 0 0 1px 0 red;
  border-radius: 5px;
  padding: 30px;
  margin: 10px 0 0;
  width: 50%;
}
.reservations .body .form_control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}
.reservations .body .form_control label {
  text-align: left;
  font-size: 20px;
  color: green;
  text-transform: capitalize;

  width: 250px;
  margin: 5px 0;
}
.reservations .body .form_control input {
  width: 100%;
  margin-bottom: 5px;
  font-size: 19px;

  border: none;
  outline: none;
  box-shadow: 0 0 1px 0 red;
  border-radius: 5px;
  padding: 5px;
}
.reservations .body .form_control .error {
  font-size: 14px;

  color: green;
  width: 100%;
}
.reservations .body button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 22px;
  border-radius: 5px;
  background: rgb(154, 74, 8);
  color: rgb(255, 255, 255);
  font-size: 21px;
  margin: 10px 15px 0;
  transition: 0.4s;
}
.reservations .body button:hover {
  background: rgb(224, 219, 219);
  color: black;
}
.reservations .footer {
  background-color: rgba(63, 222, 93, 0.07);
  width: 100%;
  margin-top: 5px;
  padding: 20px 5px;
}
.reservations .footer p {
  font-size: 20px;
  color: green;
  text-align: center;
  margin: 0 25px;
}
.reservations .footer p span {
  font-weight: 600;
}
@media (max-width: 767.99px) {
  .reservations .body {
    width: 95%;
    padding: 30px 10px;
  }
}
/* End Reservations*/
